/* =========================
   Modern CSS Reset
   ========================= */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  text-rendering: optimizeSpeed;

  background-color: #121212;
  color: #e0e0e0;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.container {
  display: grid;

  /* two column tracks # */
  /* grid-template-columns: 1fr 1fr; */
  /* auto: column's width = content's width */
  /* grid-template-columns: auto 1fr 1fr;  */
  /* repeat(4, 1fr): 4 columns, each with 1fr width */
  /* grid-template-columns: repeat(4, 1fr); */
  grid-template-columns: repeat(3, 1fr);

  /* Use this when you want to define exact rows up front. */
  grid-template-rows: 90px;
  /* Use this when you do not want to define every row manually. */
  grid-auto-rows: 140px; 

  gap: 30px;
  width: 1200px;
  margin: 30px auto;
}

.header {
  grid-column: span 3; /* span / use / fit / occupy this # of columns */
}

.sidebar {
  grid-row: span 2; /* span / use / fit / occupy this # of rows */
}

.box {
  /* height: 120px; */

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 2rem;
}

.red {
  background: crimson;
}

.blue {
  background: royalblue;
}

.green {
  background: seagreen;
}

.yellow {
  background: goldenrod;
}

